body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.login-container {
    width: 300px;
    padding: 16px;
    background-color: #fff;
    margin: 100px auto;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

.input-field {
    margin-bottom: 20px;
}

.input-field label {
    display: block;
    margin-bottom: 4px;
}

.input-field input {
    width: 100%;
    padding: 8